/*Fixing the bad kerning.*/
html {
  font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.04em;
  margin-top: 10px;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/*p + p {
	text-indent: 1em;
}*/
blockquote {
  font-style: italic;
  hanging-punctuation: first;
  text-indent: -0.5em;
  margin-left: 0;
}

ul, ol {
  padding-left: 0;
  list-style-position: outside;
}

.edited {
  background-color: rgba(73, 80, 234, 0.1);
}

.badge {
  position: absolute;
  left: 1em;
  margin-top: 1em;
}

.btn-fab {
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

img {
  width: 100%;
}

@media print {
  .header-flex {
    visibility: hidden;
  }

  html {
    font-size: 1.8em;
  }
}

